html,body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

.page {
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .logo img {
    position: absolute;
    top: 30px;
    left: 55px;
    z-index: 9999;
  }
}

nav {
  position: absolute;
  top: 30px;
  right: 85px;
  z-index: 999999;
  width: 600px;

  ul {
    padding: 0;
    margin: 0;
    text-align: right;
  }

  li {
    font-size: 20px;
    display: inline-block;
    padding: 0 10px;
    list-style: none;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;

    &:hover,
    &.active {
      color: #84b00e;
    }
  }
}

.owl-carousel .owl-wrapper-outer,
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  height: 100%;
}

.owl-controls.clickable {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 30px;
}

.owl-controls .owl-buttons {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 200px;
}

.content {
  width: 100%;
  height: 100%;

  section {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;

    h2 {
      font-size: 53px;
      font-weight: 300;
      color: #fff;
    }
    .cloud {
      position: absolute;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5em;
      color: #3f4740;
    }
  }
}

#kdo-jsme {
  background-image: url('../img/page1.jpg');

  h2 {
    position: absolute;
    right: 85px;
    top: 110px;
  }

  .cloud1 {
    right: 685px;
    top: 230px;
    width: 325px;
    height: 150px;
    padding: 15px 20px 35px 30px;
    background-image: data-uri('../img/cloud1.png');
  }
  .cloud2 {
    right: 395px;
    top: 270px;
    width: 270px;
    height: 150px;
    padding: 20px 20px 35px 30px;
    background-image: data-uri('../img/cloud2.png');
  }
  .cloud3 {
    right: 85px;
    top: 260px;
    width: 287px;
    height: 147px;
    padding: 20px 20px 35px 30px;
    background-image: data-uri('../img/cloud3.png');
  }
}
#co-umime {
  background-image: url('../img/page2.jpg');

  h2 {
    position: absolute;
    left: 50px;
    top: 110px;
  }
}
#jak-pracujeme {
  background-image: url('../img/page3.jpg');
}
#co-jsme-dokazali {
  background-image: url('../img/page4.jpg');
}
