html,body {
  height: 100%;
  font-family: @main-font;
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

.w-50 {
  display: inline-block;
  width: 49%;
  vertical-align: top;

  @media screen and (max-width: 37.625rem) {
    width: 100%;
  }
}

.page {
  width: 100%;
  height: 100%;
}

header {
  background: #84B00E;
}

.logo {
  padding: 0.5em;
  text-align: center;
}

#main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  padding: 0.25em;

  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover,
    &.active {
      color: #333;
    }
  }
}

.arrow {
  position: absolute;
  bottom: -1em;
  right: -1em;
  cursor: pointer;

  img {
    transition: transform 0.2s;
  }

  &:hover img {
    transform: scale(1.2);
  }
}

.icon {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  background-position: center center;
  background-repeat: no-repeat;

  &.icon-mail {
    background-image: data-uri('../img/icon-mail.png');
  }
  &.icon-phone {
    background-image: data-uri('../img/icon-phone.png');
  }
  &.icon-home {
    background-image: data-uri('../img/icon-home.png');
  }
}

section{
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  box-shadow: 0 0.3125rem 0.625rem #777 inset;

  h2 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
  }
}

#kdo-jsme {
  background-image: url('../img/page1-small.png');
}

#co-umime {
  background-image: url('../img/page2-small.png');
}

#jak-pracujeme {
  background-image: url('../img/page3-small.png');
}

#co-jsme-dokazali {
  background-image: url('../img/page4-small.png');
}

.cloud {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.125rem;
  color: #333;
  background-image: data-uri('../img/cloud-bg.png');
}

p.highlight {
  margin: 0.625rem 0;
  font-size: 1rem;
  color: @main-color;
}
h3.highlight {
  margin-bottom: 0.3125rem;
  font-size: 1.875rem;
  font-weight: 300;
  color: @main-color;
}

ul.list {
  padding-left: 1.5625rem;

  li{
    padding-left: 0.3125rem;
    list-style-image: data-uri('../img/list-icon.png');
    font-size: 0.875rem;
    color: @text-color;
  }
}

@media screen and (min-width: 767px) {

  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .logo img {
      position: absolute;
      top: 1.875rem;
      left: 3.4375rem;
      z-index: 9999;
    }
  }

  nav {
    position: absolute;
    top: 1.875rem;
    right: 5.3125rem;
    z-index: 999999;
    width: 600px;

    ul {
      padding: 0;
      margin: 0;
      text-align: right;
    }

    li {
      font-size: 1.25rem;
      display: inline-block;
      padding: 0 0.625rem;
      list-style: none;


      a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: @main-color;
        }
      }
      &.active a {
        color: @main-color;
      }
    }
  }

  .owl-carousel .owl-wrapper-outer,
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    height: 100%;
  }

  .owl-controls.clickable {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 1.875rem;
  }

  .owl-controls .owl-buttons {
    position: absolute;
    bottom: 1.875rem;
    right: 0;
    width: 12.5rem;
  }
  .owl-theme .owl-controls .owl-buttons div {
    background: none;
    opacity: 0.8;
    transition: opacity 0.3s;

    &.disabled,
    &.disabled:hover {
      opacity: 0.3;
      transition: none;
    }
  }

  .content {
    width: 100%;
    height: 100%;

    section {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      box-shadow: none;

      h2 {
        font-size: 3.3125rem;
        font-weight: 300;
        color: #fff;

        &.light {
          margin: 0;
        }
      }
      .cloud {
        position: absolute;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: @text-color;
        background-size: cover;
      }
    }
  }

  #kdo-jsme {
    background-image: url('../img/page1.png');

    h2 {
      position: absolute;
      right: 5.3125rem;
      top: 6.875rem;
    }

    .cloud1 {
      right: 42.8125rem;
      top: 14.375rem;
      width: 20.3125rem;
      height: 9.375rem;
      padding: 0.9375rem 1.25rem 2.1875rem 1.875rem;
      background-image: data-uri('../img/cloud1.png');

    }
    .cloud2 {
      right: 24.6875rem;
      top: 16.875rem;
      width: 16.875rem;
      height: 9.375rem;
      padding: 1.25rem 1.25rem 2.1875rem 1.875rem;
      background-image: data-uri('../img/cloud2.png');
    }
    .cloud3 {
      right: 5.3125rem;
      top: 16.25rem;
      width: 17.9375rem;
      height: 9.1875rem;
      padding: 0.8125rem 1.25rem 0.625rem 1.5625rem;
      background-image: data-uri('../img/cloud3.png');
    }
  }
  #co-umime {
    background-image: url('../img/page2.png');

    h2 {
      position: absolute;
      left: 3.4375rem;
      top: 6.875rem;
    }

    .cloud4 {
      left: 2.8125rem;
      top: 14.375rem;
      width: 38.3125rem;
      height: 6.625rem;
      padding: 0.9375rem 1.25rem 2.1875rem 1.25rem;
      background-image: data-uri('../img/cloud4.png');
    }
    .cloud5 {
      left: 2.8125rem;
      top: 18.75rem;
      width: 21.5625rem;
      height: 11.75rem;
      padding: 0.9375rem 1.25rem 2.1875rem 1.875rem;
      background-image: data-uri('../img/cloud5.png');
    }
    .cloud6 {
      left: 23.125rem;
      top: 18.75rem;
      width: 24.25rem;
      height: 8.0625rem;
      padding: 0.9375rem 1.25rem 2.1875rem 1.875rem;
      background-image: data-uri('../img/cloud6.png');
    }
    .cloud7 {
      right: 3.125rem;
      top: 14.375rem;
      width: 27.375rem;
      height: 11.9375rem;
      padding: 0.3125rem 0.625rem 2.1875rem 3.125rem;
      background-image: data-uri('../img/cloud7.png');
    }
  }
  #jak-pracujeme {
    background-image: url('../img/page3.png');

    .cloud8 {
      left: 2.5rem;
      top: 9.1875rem;
      width: 48.1875rem;
      height: 8.3125rem;
      padding: 0.3125rem 1.25rem 2.1875rem 1.875rem;
      background-image: data-uri('../img/cloud8.png');
    }
    .cloud9 {
      left: 2.5rem;
      top: 18.125rem;
      width: 31.1875rem;
      height: 6.125rem;
      padding: 2rem 0.625rem 2.1875rem 0.6875rem;
      background-image: data-uri('../img/cloud9.png');
    }
    .cloud10 {
      left: 2.5rem;
      top: 23.125rem;
      width: 21.375rem;
      height: 14.25rem;
      padding: 0.9375rem 1.25rem 2.1875rem 1.875rem;
      background-image: data-uri('../img/cloud10.png');

      .arrow {
        right: 0.3125rem;
        position: absolute;
        bottom: 0.625rem;
        z-index: 999;
      }
    }
    .cloud11 {
      left: 21.875rem;
      top: 25rem;
      width: 21.75rem;
      height: 13.75rem;
      padding: 0.9375rem 1.25rem 2.1875rem 2.5rem;
      background-image: data-uri('../img/cloud11.png');

      .arrow {
        right: -0.9375rem;
        position: absolute;
        bottom: 1.875rem;
        z-index: 999;
      }
    }
    .cloud12 {
      left: 41.5625rem;
      top: 23.125rem;
      width: 24.8125rem;
      height: 12.9375rem;
      padding: 0.9375rem 1.25rem 2.1875rem 2.5rem;
      background-image: data-uri('../img/cloud12.png');
    }
  }
  #co-jsme-dokazali {
    background-image: url('../img/page4.png');
    background-position: right top;

    .cloud13 {
      left: 2.5rem;
      top: 7.5rem;
      width: 41.375rem;
      height: 7.375rem;
      padding: 0.9375rem 1.25rem 2.1875rem 1.25rem;
      background-image: data-uri('../img/cloud13.png');
    }
    .cloud14 {
      left: 2.5rem;
      top: 17.5rem;
      z-index: 1;
      width: 17.5625rem;
      height: 3.8125rem;
      padding: 1.25rem 0.9375rem;
      background-image: data-uri('../img/cloud14.png');

      h2 {
        margin: 0;
        padding-right: 1.875rem;
        font-size: 1.4375rem;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        background: data-uri('../img/sipka-dolu.png') right center no-repeat;
        cursor: pointer;
      }
    }
    .cloud15 {
      display: none;
      left: 2.5rem;
      top: 20.3125rem;
      width: 32.375rem;
      height: 14.75rem;
      padding: 0 1.25rem 2.1875rem 1.25rem;
      background-image: data-uri('../img/cloud15.png');

      a {
        color: @text-color;

        &:hover {
          text-decoration: none;
        }
      }

      span {
        vertical-align: middle;
      }

      .tel,
      .mail {
        line-height: 2.375rem;
      }

      .dic {
        padding-left: 1.875rem;
      }
    }
  }

  .camp {
    position: absolute;
    top: 22.5%;
    left: 61%;
    width: 16%;
    height: 7%;

    .tent {
      position: absolute;
      width: 25%;
      height: 100%;
      cursor: pointer;

      div {
        position: relative;
        z-index: 3;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &:hover::after {
        position: absolute;
        bottom: -0.25rem;
        z-index: 2;
        display: block;
        content: "";
        width: 100%;
        height: 0.625rem;
        background: rgba(100,100,100, 0.4);
        border-radius: 50%;
      }

      &.yellow {
        left: 0;
        bottom: 0;

        div {
          width: 100%;
          height: 100%;
          background-image: data-uri('../img/tent-yellow.png');
        }
      }
      &.red {
        left: 25%;
        bottom: 0.625rem;

        div {
          width: 100%;
          height: 100%;
          background-image: data-uri('../img/tent-red.png');
        }
      }
      &.green {
        left: 50%;
        bottom: 0.625rem;

        div {
          width: 100%;
          height: 100%;
          background-image: data-uri('../img/tent-green.png');
        }
      }
      &.blue {
        right: 0;
        bottom: 0;

        div {
          width: 100%;
          height: 100%;
          background-image: data-uri('../img/tent-blue.png');
        }
      }
    }
  }

  .tooltip {
    position: absolute;
    display: none;
    width: 18.1875rem;
    height: 14.0625rem;
    padding: 1.875rem 1.875rem 1.25rem 1.5625rem;
    font-size: 0.8rem;
    text-align: center;
    background: data-uri('../img/tooltip-bg.png');
    background-size: cover;

    h3 {
      margin: 0;
      font-size: 1.5em;
      color: #fff;
    }

    p {
      color: #fff;
      margin: 0.8em 0;
    }
  }
}

@media screen and (max-width: 78.125rem) {
  html,body {
    font-size: 90%;
  }
}

@media screen and (max-width: 68.75rem) {
  html,body {
    font-size: 80%;
  }
}
@media screen and (max-width: 61.9375rem) {
  html,body {
    font-size: 70%;
  }
}
@media screen and (max-width: 47.9375rem) {
  html,body {
    font-size: 100%;
  }
}
