html,body {
  height: 100%;
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

.page {
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
}

nav {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 999999;
}

.owl-carousel .owl-wrapper-outer,
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  height: 100%;
}

.owl-controls.clickable {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 30px;
}

.owl-controls .owl-buttons {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 200px;
}

.content {
  width: 100%;
  height: 100%;

  section {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
}

#kdo-jsme {
  background-image: url('../img/page1.jpg');
}
#co-umime {
  background-image: url('../img/page2.jpg');
}
#jak-pracujeme {
  background-image: url('../img/page3.jpg');
}
#co-jsme-dokazali {
  background-image: url('../img/page4.jpg');
}
